
<div class="card">
    <a class="postItemLink" href="{{ page.url }}" class="u-url">
        <div class="card-header">
            <div class="card-subtitle text-gray">
                {% include 'partials/blog/date.html.twig' %}
            </div>
            <div class="card-title">
                {% include 'partials/blog/title.html.twig' with {title_level: 'h5'} %}
            </div>
        </div>
        <div class="card-body">
            {% if page.summary != page.content %}
                {{ page.summary }}
            {% else %}
            {{ page.content }}
        {% endif %}
        </div>
    </a>
</div>

{# {% for post in page.find('/about/press').children.order('date', 'desc').slice(?,?) %}
    <div id="item" class="post-container">
        <div class="bricklayer">
            <div class="card">
                <a class="postItemLink" href="{{ post.url }}">
                    <div class="card-header">
                        <div class="card-subtitle text-gray">
                            <span class="blog-date">
                                <time class="dt-published" datetime="{{ post.date|date("c") }}">
                                    <i class="fa fa-calendar"></i> {{ post.date|date(system.post.dateformat.short) }}
                                </time>
                            </span>
                        </div>
                        <div class="card-title">
                            <h5 class="postItemTitle">{{ post.title }}</h5>
                        </div>
                    </div>
                    <div class="card-body">
                        {% if post.summary != post.content %}
                        {{ post.summary }}
                        {% else %}
                        {{ post.content }}
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
    </div>
{% endfor %} #}

